---
layout: default
description: "Lako čitljiva literatura o dobrim praksama PHP programiranja, prihvaćenim standardima kodiranja, sa linkovima ka relevantnim tutorijalima"
sitemap: true
---

{% capture welcome_content %}{% include welcome.md %}{% endcapture %}
<section class="chapter" id="welcome">
    {{ welcome_content|markdownify }}
</section>

{% capture backtotop %}[Povratak na početak](#top){:.top}{% endcapture %}
{% for post in site.posts reversed %}
{% if post.isChild != true and loop.first != true %}<div class="back-to-top">{{ backtotop|markdownify }}</div>{% endif %}
<section class="chapter" id="{{ post.anchor }}">
    {{ post.content }}
</section>
{% endfor %}
